<client-header></client-header>

<div class="container">
  <div *ngIf="product$ | async; let product" class="product-info">
    <div class="product-img-wrapper">
      <carousel *ngIfBrowser> </carousel>
    </div>
    <div class="product-info-wrapper"></div>
  </div>
</div>

<client-footer></client-footer>
