<client-header></client-header>
<div *ngIfBrowser class="banner">
  <carousel cellWidth="100%" height="100%">
    <div class="carousel-cell">
      <img src="assets/img/1.jpg" />
    </div>
    <div class="carousel-cell">
      <img src="assets/img/2.jpg" />
    </div>
  </carousel>
</div>

<div class="new-arrival mt-5 mb-2">
  <h2 class="text-center">New Arrival</h2>
  <div class="container">
    <div *ngIf="newArrival$ | async; let newArrival" class="row">
      <div *ngFor="let item of newArrival" class="col-3">
        <product-tile-component [data]="item"></product-tile-component>
      </div>
    </div>
  </div>
</div>

<div class="new-arrival mt-5 mb-2">
  <h2 class="text-center">Top Selling</h2>
  <div class="container">
    <div *ngIf="topSelling$ | async; let topSelling" class="row">
      <div *ngFor="let item of topSelling" class="col-3">
        <product-tile-component [data]="item"></product-tile-component>
      </div>
    </div>
  </div>
</div>

<client-footer></client-footer>
