.page {
  background: url(https://wallpaperaccess.com/full/902484.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.example-form-group {
  border: 1px #ccc solid;
  border-radius: 9px;
  background: white;
}

.login-container {
  max-width: 300px;
  margin: 0 auto;
}

.btn-action {
  width: 200px;
}

.forgot-password-btn {
  padding-top: 16px;
  border-top: 1px #ccc solid;
  margin: 0 30px;
}

.view-password-button {
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  transition: 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    opacity: 0.7;
    pointer-events: unset;
  }
}
