<div class="page">
  <div class="container-fluid">
    <form class="example-form" [formGroup]="form">
      <div class="row pt-5">
        <div class="example-form-group col-4 offset-7 text-center p-5 mt-5">
          <h1>{{ "Login.Title" | translate }}</h1>
          <div
            class="login-container d-flex justify-content-center flex-column"
          >
            <mat-form-field class="example-full-width d-block">
              <mat-label>{{ "Login.Username" | translate }}</mat-label>
              <input formControlName="username" name="username" matInput />
            </mat-form-field>

            <mat-form-field class="example-full-width d-block">
              <mat-label>{{ "Login.Password" | translate }}</mat-label>
              <input
                formControlName="password"
                name="password"
                [type]="viewPassword ? 'text' : 'password'"
                matInput
              />
              <mat-icon
                (mousedown)="viewPassword = true"
                (mouseup)="viewPassword = false"
                class="view-password-button"
                matSuffix
                >remove_red_eye</mat-icon
              >
            </mat-form-field>
            <p class="text-danger">{{ errorMessage }}&nbsp;</p>
            <button
              class="btn-action mt-2 mb-4 align-self-center"
              mat-flat-button
              color="accent"
              type="button"
              (click)="login()"
            >
              {{ "Login.LoginButton" | translate }}
            </button>
            <a
              class="forgot-password-btn"
              routerLink="/forgot"
              href="/forgot"
              >{{ "Login.ForgotPassword" | translate }}</a
            >
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="loading" [class.active]="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
