<p class="text-center">
  Authentic Live Model
</p>
<div class="navbar position-sticky bg-white">
  <ul class="d-flex w-100 justify-content-around">
    <li (mouseover)="activeMenu.home = true" (mouseleave)="activeMenu.home = false">
      <a href="">Home</a>
    </li>
    <li (mouseover)="activeMenu.products = true" (mouseleave)="activeMenu.products = false">
      <a href="">Products</a>
    </li>
    <li (mouseover)="activeMenu.brands = true" (mouseleave)="activeMenu.brands = false">
      <a href="">Brands</a>
      <ul *ngIf="activeMenu.brands">
        <li>
          <a href="">BMW</a>
        </li>
        <li>
          <a href="">Honda</a>
        </li>
        <li>
          <a href="">Lamborghini</a>
        </li>
        <li>
          <a href="">Ferrari</a>
        </li>
      </ul>
    </li>
    <li (mouseover)="activeMenu.contact = true" (mouseleave)="activeMenu.contact = false">
      <a href="">Contact Us</a>
    </li>
  </ul>
</div>
