.navbar {
  top: 0;
  z-index: 99999;
  padding-top: 20px;
  background: linear-gradient(to right, #283048, #859398);
  & > ul {
    & > li {
      list-style-type: none;
      a {
        font-weight: bold;
        color: white;
      }
      & > ul {
        padding: 10px;
        border-radius: 8px;
        position: absolute;
        background: linear-gradient(to right, #283048, #859398);
        & > li {
          list-style-type: none;
          padding: 8px 0px;
        }
        a {
          font-weight: bold;
          color: white;
        }
      }
    }
  }
}
