<h1 mat-dialog-title>{{ data.title }}</h1>
<p class="my-3 mx-4">{{ data.message }}</p>
<div mat-dialog-actions>
  <ng-container *ngIf="data.type === 'alert'">
    <button color="accent" mat-button (click)="onSubmit(true)">
      {{ data.yesText || "OK" }}
    </button>
  </ng-container>
  <ng-container *ngIf="data.type === 'confirm'">
    <button mat-button (click)="onSubmit(false)">
      {{ data.noText || "No" }}
    </button>
    <button color="accent" mat-button (click)="onSubmit(true)">
      {{ data.yesText || "Yes" }}
    </button>
  </ng-container>
</div>
