// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$seed-primary: mat-palette($mat-indigo);
$seed-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$seed-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$seed-theme: mat-light-theme(
  (
    color: (
      primary: $seed-primary,
      accent: $seed-accent,
      warn: $seed-warn,
    ),
  )
);
$custom-typography: mat-typography-config(
  $font-family: 'Niramit, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($seed-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Niramit", "Helvetica Neue", sans-serif!important;
}
