.link-wrapper {
  .product {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    p,
    span,
    div {
      text-decoration: none;
      color: #444;
    }
  }
  &:hover {
    text-decoration: none;
    color: #444;
  }
}
