<a [href]="'product/' + data?._id" class="link-wrapper">
  <div [class.invisible]="!data" class="product">
    <img [src]="data?.imgs[0]" alt="" />
    <p class="font-weight-bold mt-1">{{ data?.name }}</p>
    <div class="d-flex justify-content-between">
      <div>
        <mat-icon>open_in_full</mat-icon>
        <span class="align-top ml-2">{{ data?.scale }}</span>
      </div>
      <div>{{ data?.price | number: "":0 }} VND</div>
    </div>
  </div>
</a>
